@media print
   {
    @page {
        size: A4;
    }
    body {
       /*font-size: 12pt;*/
    }

   .main-wrapper .time {
       float: right;
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;

       .container-block-title {
          color: #35776d;
       }
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

   .skillset .level-bar-inner {
       background-color: #7ec6bb !important;
       -webkit-print-color-adjust: exact; 
    }

   .experiences-section .job-title {
      color: #35776d;
   }

   .experiences-section .time {
      color: #35776d;
   }
}
