@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

   .main-wrapper .time {
       float: right;
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }
}
